/*body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  width: 960px;
  height: 700px;
  margin-top: 10px;
}*/

#main {
  float: left;
  //width: 750px;
}

#sidebar {
  float: right;
  width: 200px;
}

#sequence {
  width: 600px;
  height: 70px;
}


#hits_viewer{
    height: 250px;
    overflow: scroll;
	overflow-x:scroll;
}
.domain_architectures_view {
	font-size: 8px;*/
    height: 250px;
    overflow: scroll;
	overflow-x:scroll;
}


/*#legend {
  padding: 10px 0 0 3px;
} */

/*#sequence text, #legend text {
font-weight: 300;
fill: #fff;
}*/

#chart {
  position: relative;
/*  border: 1px solid #000000;*/
}

/*#chart path {
  stroke: #fff;
}
*/
#explanations {
  position: absolute;
  top: 260px;
  left: 305px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}

.axis text {
  font-family: sans-serif;
  font-size: 9px;
}

.hit_legend{
  font-size: 9px;
}

#tooltip { background-color: white;
  padding: 3px 5px;
  border: 1px solid black;
  text-align: center;
}

.dataTables_wrapper {
  _height: 102px;
  min-height: 102px;
}

.node {
  cursor: pointer;
}
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.node text {
  font: 11px sans-serif;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}


.tree_node text {
  font: 10px sans-serif;
}


.top_hits{
  margin-left: 0px;
  list-style: none;
  border-top: 1px solid #aaa;
  margin-bottom: 0px; 
}


.top_hits .hit_list .hit_list_kg{
	margin-left:7px;
}

.top_hits .hit_list {
	width: 5px; 
	display: inline-block; 
}

.Bacteria {
	background-color: #900; 
}
.Eukaryota {
	background-color: #f3c800; 
}
.Archaea {
	background-color: #009dcc; 
}
.Eukaryota {
	background-color: #f3c800; 
}
.Viruses {
	background-color: #ff0000; 
}
.Unclassified {
	background-color: #999; 
}
.Other {
	background-color: #333; 
}

#pdb_div canvas{
	display: block;
	margin: 0 auto;
	border: 1px solid #000000;
}
.species_info {
	font-size: 8px;
}
.top_hits .hit_list {
  padding-top: 18px;
  font-size: 8px;
}

.top_hits .hit_list span {
  display: block;
  text-align: left;
}

.top_hits .hit_info{
	font-size: 8px;
}

.top_hits .hit_info .gene_name{
	font-size: 9px;
}
.top_hits .score_info span {
    /*padding-top: 10px; */
    font-size: 8px;
  display: block;
  text-align: right;
}
.top_hits .domain_info {
  /*padding-top: 10px;*/
  font-size: 8px;
}

.top_hits .domain_info span {
  display: block;
  text-align: center;
}


.top_hits .middle_container{
  /*margin-left:7px;*/
}


.top_hits .middle_container .query_div{
  padding-top: 3px
}

.top_hits .middle_container .target_div{
  /*padding-top: -10px*/
  margin-top: -15px;
}

.top_hits ul{
  margin-left: 0px;
}


.top_hits .left span {
  display: block;
  text-align: left;
}


.top_hits table{
/*	width: 65%;*/
	table-layout: fixed;
}
.table_hit {
	border: 1px solid #999;
}

.top_hits .block {
  margin: .3em 1em 0 0;
  color: #666;
  border: 1px solid #999;
  text-transform: uppercase;
  font-weight: bold;
  padding: .2em;
}
.top_hits .container-fluid{
  border-top: 1px solid #aaa;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}


#explanation #sequence{
	font-size: 8px;
}



.species_name{
	text-align:right;
}

